<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reviews analyser</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Определение семантической окраски отзыва на мобильные телефоны</h2>


    <form action="{{ url_for('index_page') }}" method=post>
        <div class="form-group">
            <label class="control-label">Текст:</label>
            <textarea class="form-control" name=text placeholder="Русскоязычный отзыв о мобильном телефоне" rows=7 cols=20>{{text}}</textarea>
            <button type="submit" class="btn btn-info">Оценить</button>

        </div>
        <div class="alert alert-warning">
        Результат: окрас отзыва <p2>{{prediction_message}}</p2>
        </div>
    </form>
</div>


</body>
</html>
